body {
    /* display:block; */
    background: linear-gradient(to top left, #288fb4, #7f29c6);
    margin: 0;
    height: 100vh;
}

.body {
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

h1 {
    font-family: sans-serif;
    font-size: 3.5em;
    text-align: center;
    color: #c690f3;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.container .row {
    flex: 1;
}

.column h2 {
    font-family: sans-serif;
    font-size: 2em;
    color: #b6d3de;
    text-align: center;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    display: flex;
    flex: 1;
    padding: .5em;
    box-sizing: border-box;
    max-width: 100%;
    flex-wrap: wrap;
}

.center {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
}

.m2 {
    margin-right: 2em;
    margin-left: 2em;
}

.m2-t {
    margin-top: 2em;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: .25em;
}

#shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: .5em;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3em;
    }

    .fow {
        flex-direction: column;
    }

    .column {
        flex-basis: 100%;
    }
}